      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" [routerLink]="['./MainPage']">MetHotelsl</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
				<li [class.active]="router.isRouteActive(router.generate(['MainPage']))"><a [routerLink]="['MainPage']">Pocetna</a></li>
                  <li [class.active]="router.urlTree.contains(router.createUrlTree(['AboutUs']))"><a [routerLink]="['./aboutus']">Informacije</a></li>
			      <li *ngIf="isAuth == 'no'" [class.active]="router.urlTree.contains(router.createUrlTree(['form']))"><a [routerLink]="['./form']">Registracija</a></li>  
				  <li *ngIf="isAuth == 'no'" [class.active]="router.urlTree.contains(router.createUrlTree(['form2']))"><a [routerLink]="['./form3']">Prijavljivanje</a></li>
				  <li [class.active]="router.urlTree.contains(router.createUrlTree(['form3']))"><a [routerLink]="['./form3']">Dodaj sobu</a></li>
				  <li [class.active]="router.urlTree.contains(router.createUrlTree(['form4']))"><a [routerLink]="['./form4']">Dodaj hotel</a></li>
				  
				  <li *ngIf="isAuth == 'yes'" [class.active]="router.urlTree.contains(router.createUrlTree(['Sobe']))"><a [routerLink]="['./sobe']">Sve sobe</a></li>
				  <li *ngIf="isAuth == 'yes'" ><a (click)="onLogout()">Odjavi se </a></li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
	    	  <div class="container">
		<router-outlet></router-outlet>
	  </div>